body {
  padding: 0;
  margin: 0;
}
header {
  padding: 150px;
  background-color: royalblue;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 40px;
}
.home-content {
  padding: 100px;
  background-color: #303846;
  color: white;
}
.inner {
  padding: 5px;
  background-color: firebrick;
}